$sm: 575;
$md: 768;
$lg: 992;
$xl: 1220;
$hd: 1440;

// COLORS
$colorFont: #2e2b3b;
$colorGray: #464952;
$colorDisabled: #8996a4;

$colorPrimary: #fdd835;
$colorGreen: #19cb75;
$colorRed: #ee5743;

$colorBg: #f0f4f8;
$colorBorder: #c0cdda;
$colorBorderLight: #e3e9ef;
