// EASINGS
$ease: ease-in-out;

// LAYOUT
$mobile-s: 414;
$sm: 575;
$md: 767;
$lg: 992;
$xl: 1220;
$hd: 1440;

// 12-col GRID
$col1: 8.333333%;
$col2: 16.666667%;
$col3: 25%;
$col4: 33.333333%;
$col5: 41.666667%;
$col6: 50%;
$col7: 58.333333%;
$col8: 66.666667%;
$col9: 75%;
$col10: 83.333333%;
$col11: 91.666667%;
$col12: 100%;
